* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: "Raleway", "Tahoma", sans-serif;
  color: #333333;
}

main {
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

figure {
  margin-top: 30px;
}

section {
  margin-bottom: 3em;
}

.centerized {
  text-align: center;
}

h1,
h3,
h4 {
  margin-top: 0;
  font-family: "Montserrat", "Arial", sans-serif;
}

h1 {
  font-size: 2.5em;
}

h3 {
  margin-bottom: 20px;
  font-size: 1.8em;
}

ul {
  margin-top: 0;
  padding-left: 25px;
}

li {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
}

.width-small {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  margin-top: 3em;
  padding: 2em;
  border-bottom: 1.5px solid #cccccc;
  border-top: 1.5px solid #cccccc;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #ffffff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

table td:nth-child(2n) {
  text-align: center;
}
